<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content = "text/html; charset = UTF-8" />
    <title>Facebook login</title>
</head>

<body>
    <div>
        <a href="https://www.facebook.com/dialog/oauth?client_id=558526689153745&redirect_uri=http://vdata.com.vn/thuvien/loginfb/callback.php"><div class="fb-login-button" data-width="" data-size="large" data-button-type="continue_with" 
            data-layout="default" data-auto-logout-link="false" data-use-continue-as="false"></div>login</a>

    </div>
</body>
</html>
